/* CSS for Odin Recipes page */

* {
    background-color: tan;
}

.main_header {
    font-size: 100px;
    text-decoration: underline;
    text-align: center;
    color: maroon;
}

.description {
    color: fuchsia;
    font-style: italic;
}

.ingredients {
    color: chartreuse;
    font-style: oblique;
}

.steps {
    color: lightcoral;
    font-style: unset;
}

.main_items {
    background-color: yellow;
    margin: 5px;
    padding: 5px;
    border: 2px groove black;
}

img {
    height: auto;
    width: 400px;
}

ul {
    list-style:lower-greek;
}

ol {
    list-style-type: decimal-leading-zero;
}

li {
    padding: 5px;
    margin: 5px;
}